<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cadastro de fotos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<form  [formGroup]="cadastro" (submit)="salvar()">
  <ion-card color="primary" >
  <ion-item >
    <ion-label>Nome: </ion-label>
    <ion-input type="text" placeholder="Insira o nome da foto" formControlName="nome" > </ion-input>  
  </ion-item>

  <ion-item>
    <ion-label>Url:</ion-label>
    <ion-input type="text" placeholder="Insira a URL da foto"  formControlName="url" ></ion-input> 
  </ion-item>

  <ion-item>
    <ion-label>Descrição: </ion-label>
    <ion-input type="text" placeholder="Insira a descrição da foto "  formControlName="descricao" ></ion-input> 
  </ion-item>
  
  </ion-card>

  <ion-button color="secondary" expand="block" type="submit">Enviar</ion-button>

</form>
</ion-content>


