<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Badge</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Notificações</ion-label>
    <ion-badge>150</ion-badge>
  </ion-item>
  <ion-item>
    <ion-label>Usuários</ion-label>
    <ion-badge slot="start">80</ion-badge>
  </ion-item>  
  <ion-item>
    <ion-label>Conflitos</ion-label>
    <ion-badge color="danger" slot="end">5</ion-badge>
  </ion-item>  
  <ion-item>
    <ion-label>Variável</ion-label>
    <ion-badge color="dark" slot="end">{{notificacoes}}</ion-badge>
  </ion-item>      
</ion-content>
