<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Componentes Botão</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3>Exemplos de botões no Ionic</h3>
  <ion-button>Padrão</ion-button>
  <ion-button href='#'>Âncora</ion-button>
  <ion-button (click)='exemplo()'>Evento</ion-button>
  <h3>Botão com tema</h3>
  <ion-button color='danger'>Danger</ion-button>
  <h3>Outros temas disponíveis</h3>
  <ion-button color='primary'>Primary</ion-button>
  <ion-button color='secondary'>Secondary</ion-button>
  <ion-button color='tertiary'>Tertiary</ion-button>
  <ion-button color='success'>Success</ion-button>
  <ion-button color='warning'>Warning</ion-button>
  <ion-button color='danger'>Danger</ion-button>
  <ion-button color='dark'>Dark</ion-button>
  <ion-button color='medium'>Mediam</ion-button>
  <ion-button color='light'>Light</ion-button>
  <h3>Outros formatos</h3>
  <ion-button expand='full'>Expand Full</ion-button>
  <ion-button expand='block'>Expand Block</ion-button>
  <ion-button fill='outline'>Outline Fill</ion-button>
  <h3>Botão com ícone</h3>
  <ion-button>
      <ion-icon slot="start" name="star"></ion-icon>
      Ícone a esquerda
  </ion-button>
  <h3>Botões com tamanho</h3>
  <ion-button size='small'>Small</ion-button>
  <ion-button size='large'>Large</ion-button>
  <ion-button>Padrão</ion-button>
</ion-content>