<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Componentes Card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src="../assets/images/rio.png"></ion-img>
    <ion-card-content>
      <ion-card-title>Rio de Janeiro</ion-card-title>
      <p>Venha para o Rio de Janeiro, conheça as maravilhas da cidade.</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Aluguel de veículos</ion-card-subtitle>
      <ion-card-title>Viagens.com</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Visite nosso site</p>
    </ion-card-content>
  </ion-card>

  <ion-card color='danger'>
    <ion-card-header>
      <ion-card-subtitle>Seguros</ion-card-subtitle>
      <ion-card-title>Viagens.com</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Não vá a cidade sem um seguro contra roubos.</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item href="#" class="activate">
      <ion-icon name="wifi" slot="start"></ion-icon>Wifi
    </ion-item>
    <ion-item>
      <ion-icon name="bus" slot="start"></ion-icon>Transporte
    </ion-item>
    <ion-item>
      <ion-icon name="restaurant" slot="start"></ion-icon>Restaurantes
    </ion-item>
  </ion-card>

  <ion-card color='primary' mode='ios'>
      <ion-card-header>
        <ion-card-subtitle>Card Personalizado</ion-card-subtitle>
        <ion-card-title>iOS</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Aproveite!</p>
      </ion-card-content>
    </ion-card>

    <ion-card color='primary' mode='md'>
        <ion-card-header>
          <ion-card-subtitle>Card Personalizado</ion-card-subtitle>
          <ion-card-title>Android</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Evite!</p>
        </ion-card-content>
      </ion-card>
</ion-content>